/*
  Projeto: Torre de Hanoi 
  Since: 2021-11-29
*/

body{
  background-color: #161616;
  color: white;
}

.gameSettings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.gameSettings button{
  display: block;
  margin:0 auto;
  width: 100px;
}

.towerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.tower{
  display: flex;
  border: 14px solid transparent;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;

  width: 200px;
  height: 400px;
  background-repeat: no-repeat;
  background-position-y: 42px;
  /* background-size: 100px; */
}

.tower0 {
  background-image: url("../../assets/img/pin1.png");
}

.tower1 {
  background-image: url("../../assets/img/pin2.png");
}

.tower2 {
  background-image: url("../../assets/img/pin3.png");
}

.piece {
  border-top: 1px solid black;
  border-radius: 13px;
  height: 30px;
  margin-bottom: 2px;
}


/* ANIMAÇÂO BALANÇAR */
.balancar {
  animation: shake 1.1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-bottom: 20px;
}

@media (min-width:800px){
  .gameSettings{
    align-items: flex-start;
  }

  .gameSettings button{
    margin: 0;
  }

  .towerContainer{
    flex-direction: row;
  }

  .tower {
    
  }

  .destak {
    transform: rotate(5deg);    
  }

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}