/*
  Projeto: Torre de Hanoi 
  Since: 2021-11-29
*/

:root {}

body {}

/* .towers {
  width: 300px;
} */

tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.tower {
  display: flex;
  border: 14px solid transparent;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.towerContainer{
  display: flex;
}

.tower{
  width: 200px;
  height: 400px;
  background-repeat: no-repeat;
  background-position-y: 42px;
}

.tower0 {
  background-image: url("../../assets/img/pin1.png");
}

.tower1 {
  background-image: url("../../assets/img/pin2.png");
}

.tower2 {
  background-image: url("../../assets/img/pin3.png");
}

.piece {
  border-top: 1px solid black;
  border-radius: 13px;
  height: 30px;
  margin-bottom: 2px;
}

.contrast {
    transform: rotate(3deg);    
}

/* ANIMAÇÂO BALANÇAR */
.shakePiece {
    animation: shake .4s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
   
  }

@keyframes shake {
    10%, 90% {
      transform: translate3d(0,-1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0,2px,  0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0,-2px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0,2px, 0);
    }
  }